[Unit]
Description=Beszel Plus privileged maintenance helper instance
Documentation=https://github.com/guzassis/beszel-plus

[Service]
Type=oneshot
TimeoutStartSec=3h
ExecStart=/usr/local/libexec/beszel/maintenance-helper
StandardInput=socket
StandardOutput=socket
StandardError=journal
User=root
Group=root
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
